@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}
body {
  font-family: "Manrope", sans-serif;
  background-color: var(--Light-Grayish-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--Very-Dark-Grayish-Blue);
  
  
  
}

.container{
    max-width: 327px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;

}
.main-picture img{
    height:200px ;
    width: 100%;
    object-fit: cover;
}
.description{
    padding: 2rem;
}
img{
    max-width: 100%;
}

p:nth-child(1){
    font-size: 16px;
    margin-bottom: 0.8rem;
line-height: 24px;
font-weight: 700;
letter-spacing: 0.2px;
}
p:nth-child(2){
    max-width: 263px;
    color: var(--Desaturated-Dark-Blue);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.12px;
    line-height: 20px;
    margin-bottom: 1rem;

}
.open-share{
    display: none;

}
ul{
    list-style: none;
}
.avatar-img{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.avatar-img-text{
    display: flex;
    align-items: center;
}
.avatar-img-text img{
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.avatar-img-name {

align-self: flex-end;

   

}
.avatar-img-name p{
    margin: 0;
}

